
<po-page-list p-title="Lista de Cartoes" [p-actions]="addCredit">
  <po-input class="po-field-medium" p-label="Buscar" p-placeholder="Jasmini" p-icon="po-icon po-icon-search" name="termoPesquisa" [(ngModel)]="termoPesquisa" (ngModelChange)="pesquisar()" p-clean="true" ></po-input>
<po-table [p-items]="creditsFiltered" p-container="true" [p-sort]="true" [p-striped]="true" [p-height]="500" [p-infinite-scroll]="true" [p-columns]="columns"
[p-hide-detail]="true" [p-actions]="actions">

</po-table>
</po-page-list>
