<po-page-edit p-title="Cadastrar Compras" (p-save)="cadastrar()" (p-cancel)="cancel()">
  <form #formCustomer="ngForm">
    <po-combo class="po-md-2"
    [p-options]="creditsOptions"
    [p-placeholder]="'Selecione um cliente'"
     name="client" (p-change)="getCreditById($event)">
   </po-combo>
   <po-input p-label="VALOR" name="valor" [(ngModel)]="buy.valor"></po-input>
   <po-select p-label="CATEGORIA" [p-options]="category" (p-change)="getCategory($event)"></po-select>
   <po-input p-label="ESTABELECIMENTO" name="estabelecimento" [(ngModel)]="buy.estabelecimento"></po-input>
  </form>
</po-page-edit>
