
  <h1>Cadastrar Cliente</h1>
  <!-- <po-dynamic-form [p-fields]="fields" (p-form)="cadastrar($event)">

  </po-dynamic-form>
  <po-button p-label="Adicionar" [p-disabled]="true">
  </po-button> -->
<po-page-edit (p-save)="cadastrar()" (p-cancel)="cancel()" [p-disable-submit]="false">
  <form #formCustomer="ngForm">
    <po-input p-label="CPF" name="cpf" [(ngModel)]="client.cpf" p-required p-mask="999.999.999-99"></po-input>
    <po-input p-label="NOME" name="name" [(ngModel)]="client.name" p-required></po-input>
    <po-input p-label="E-MAIL" name="email" [(ngModel)]="client.email" p-required></po-input>
    <po-input p-label="TELEFONE" name="tel" [(ngModel)]="client.tel" p-required p-mask="(11)99999-9999"></po-input>
  </form>

</po-page-edit>


