.container-cadastro{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.container-form input{
  margin-right: 100px;
}


.container-cadastro h1{
  margin-bottom: 80px;
  font-size: 45px;
}

.container-form{
  width: 900px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

}

/* .container-form input[type="text"], .container-form input[type="number"]{
  width: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
} */

.btn1{
  cursor: pointer;
  border: none;
  color: #FFF;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 40px;
}

.btn2{
  cursor: pointer;
  border: none;
  color: #FFF;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 40px;
}


:host ::ng-deep form{
  display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 align-items: center;
 justify-content: center;
 gap: 20px;
}

:host ::ng-deep po-input.input-name{
  width: 70%;

}

:host ::ng-deep po-input.input-email{
  width: 70%;
  justify-self: end;
}

:host ::ng-deep po-input:first-child{
  width: 70%;
  grid-column: 1;
  justify-self: end;
}



:host ::ng-deep po-input:last-child{
  width: 70%;
  grid-column: 2;

}

@media screen and (max-width: 780px) {
  :host ::ng-deep po-input.input-name{
    width: 100%;

  }

  :host ::ng-deep po-input.input-email{
    width: 100%;
    justify-self: end;
  }

  :host ::ng-deep po-input:first-child{
    width: 100%;
    grid-column: 1;
    justify-self: end;
  }



  :host ::ng-deep po-input:last-child{
    width: 100%;
    grid-column: 2;

  }
}

@media screen and (max-width: 590px){

  :host ::ng-deep form{
   display: block;
  }
}
