<h1>Faturas</h1>

<form class="container-form" (ngSubmit)="atualizar()">
  <mat-card>
      <p><b>CPF:  </b>{{dadosRecebidos.numCartao}}</p>
      <p><b>CLIENTE:  </b>{{dadosRecebidos.client}}</p>
      <!-- <p><b>LIMITE:  </b>{{data.limity}}</p>
      <p><b>VALIDADE:  </b>{{data.validade}}</p> -->
  </mat-card>

  <!-- {{data.numCartao}}
  {{data.validade}} -->

  <!-- <mat-form-field>
    <mat-label>Limite</mat-label>
  <input matInput type="text" [value]="data.limity" placeholder="Ex. 1500" name="limty"  [(ngModel)]="credit.limity">
  </mat-form-field> -->

  <table mat-table [dataSource]="buysFiltered" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> DATA </th>
      <td mat-cell *matCellDef="let b">{{b.date}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="estabelecimento">
      <th mat-header-cell *matHeaderCellDef> ESTABELECIMENTO </th>
      <td mat-cell *matCellDef="let b"> {{b.estabelecimento}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> CATEGORIA </th>
      <td mat-cell *matCellDef="let b"> {{b.categoria}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> VALOR </th>
      <td mat-cell *matCellDef="let b"> {{b.valor}} </td>
    </ng-container>

<!--
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
      <td mat-cell *matCellDef="let c; index as i">
        <button mat-raised-button (click)="openDialog(i)">Alterar</button>
        <button mat-raised-button (click)="openDialogDelete(i)" color="accent">excluir</button>
        <button mat-raised-button color="primary" (click)="fatura(i)">Ver fatura</button>
      </td>
    </ng-container> -->



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</form>
