
<po-page-list p-title="Faturas">
  <po-button p-kind="primary" p-label="Voltar" p-icon="po-icon po-icon-first-page" routerLink="/cartoes"></po-button>
  <po-datepicker name="filtroData" (p-change)="filtrarComprasPorData($event)"></po-datepicker>
  <div class="info">
  <p><b>CARTAO:  </b>{{dadosRecebidos.numCartao}}</p>
  <p><b>CLIENTE:  </b>{{dadosRecebidos.client}}</p>
  <p><b>CPF:  </b>{{dadosRecebidos.clients_id.cpf}}</p>
</div>
    <h2>Valor total gasto: {{somaTotal}}</h2>

    <po-table [p-items]="buysFiltered"   p-container="true" [p-sort]="true" [p-striped]="true" [p-height]="600" [p-infinite-scroll]="true" [p-columns]="columns"
    [p-hide-detail]="true"></po-table>
</po-page-list>
