


  <po-page-list p-title="Lista de Clientes" [p-actions]="addClient" >
    <po-input class="po-field-medium" p-label="Buscar" p-placeholder="Jasmini" p-icon="po-icon po-icon-search" name="clientSearch" [(ngModel)]="clientSearch" (ngModelChange)="pesquisar()" p-clean="true" ></po-input>
    <!-- <po-page-dynamic-search [p-actions]="addClient" [p-filters]="items" name="clientSearch" [(ngModel)]="clientSearch" (ngSubmit)="pesquisar()"> -->

  <po-table [p-items]="clientsFiltered"  p-container="true" [p-sort]="true" [p-striped]="true" [p-height]="600" [p-infinite-scroll]="true" [p-columns]="columns"
  [p-hide-detail]="true" [p-actions]="actions">

</po-table>
<!-- </po-page-dynamic-search> -->

  </po-page-list>



