.container-cadastro{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-cadastro h1{
  margin-bottom: 80px;
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
}


.container-form{

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 300px);
  justify-items: center;
  justify-content: center;
}

mat-form-field{
  width: 300px;
  margin-right: 50px;
}

.btn1{
  width: 150px;
  right: -40px;
}

.btn2{
  width: 150px;
  left: -100px;
}

:host ::ng-deep form{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
}

:host ::ng-deep po-combo{
  width: 80%;
  justify-self: end;
  margin-top: 24px;
}

:host ::ng-deep po-input:last-child{
  width: 80%;
  grid-column: 2;

}

@media screen and (max-width: 479px){
  :host ::ng-deep form{
    display: block;
  }

  :host ::ng-deep po-input:last-child{
    width: 100%;
    grid-column: 2;

  }

  :host ::ng-deep po-combo{
    width: 100%;
    justify-self: end;
    margin-top: 24px;
  }
}

